// font-family: 'Roboto', sans-serif;
// font-family: 'PT Serif', serif;
//fonts
$roboto: 'Roboto', sans-serif;
$pt: 'PT Serif', serif;

//collor
$title: #d3d2d2;
$par: #5e5e5e;
$black: #212020;
$btn: #373636;